<!DOCTYPE html>
<html lang="en">

<head>
    <title>TODO</title>
</head>

<body>
    <h1>todo list</h1>
    <form action="/api/todo" method='post'>
        <input type="text" name="task" placeholder="할 일 입력" required>
        <button type="submit">추가</button>
    </form>
    <ul>
        {% for todo in todos %}
        <li>
            <button onclick="toggleTodo({{ todo.id }})">
                {% if todo.done %}✅{% else %}⬜{% endif %}
            </button>
            {{ todo.task }}
            <button onclick="deleteTodo({{ todo.id }})">❌</button>
        </li>
        {% endfor %}

    </ul>
</body>
<script>
    function toggleTodo(id) {
        fetch(`api/todo/${id}`, {
            method: 'PUT'
        }).then(() => {
            location.reload();
        });
    }

    function deleteTodo(id) {
        fetch(`api/todo/${id}`, {
            method: 'DELETE'
        }).then(() => {
            location.reload();
        });
    }
</script>

</html>